html {
    background-color: black;
    
}

* {
    font-size: 17px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

a, p {
    color: white;
}

.twitter-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twitter-views {
    display: flex;
    flex-direction: row;
}


.twitter-control-view {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px 20px;
}

.twitter-control-view-button {
    padding: 2px 65px 2px 10px;
    margin-top: 3px;
    background-color: black;
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 40px;
}

.twitter-control-view-button:hover {
    cursor: pointer;
    background-color: rgba(6, 84, 143, 0.129);
}

.twitter-control-view-button svg {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.twitter-control-view-button p {
    margin-left: 7px;
}

.twitter-control-view-button path {
    fill: white;
}

.twitter-control-view img {
    width: 50px;
}

.twitter-control-view img:hover {
    cursor: pointer;
}

.twitter-event-post-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twitter-event-post-item {
    border: 1px solid lightgray;
}

.twitter-for-you-following-row {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    /* align-items: center; */
}

.twitter-for-you-following-row button {
    background-color: black;
    color: white;
    border: none;
}

.twitter-what-is-happening-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-width: 600px;
    /* border: 0.1px solid lightgray; */
}

.twitter-what-is-happening-img {
    padding-right: 5%;
}

.twitter-what-is-happening-img img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.twitter-what-is-happening-textarea {
    display: flex;
    flex-direction: column;
    padding-top: 2.5%;
}

.twitter-global-button {
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}

.twitter-global-button:hover {
    cursor: pointer;
    background-color: rgba(6, 84, 143, 0.129);
}

.twitter-what-is-happening-textarea textarea {
    background-color: black;
    color: white;
    border: none;
    resize: none;
    outline: none;
    font-weight: 350;
    font-size: 17px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.twitter-what-is-happening-row hr {
    border: 0.5px solid rgba(169, 169, 169, 0.39);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.twitter-what-is-happening-toolbox {
    display: flex;
    align-items: center;
}

.twitter-what-is-happening-toolbox svg {
    height: 25px;
    width: 25px;
    color: rgb(29, 155, 240);
    padding: 8px;
}

.twitter-what-is-happening-toolbox path {
    fill:  rgb(29, 155, 240);
}

.twitter-what-is-happening-toolbox svg:hover {
    background-color: rgba(6, 84, 143, 0.129);
    border-radius: 100px;
    cursor: pointer;
}

.twitter-what-is-happening-toolbox hr {
    width: 10px;
    border: none;
}

.twitter-what-is-happening-toolbox button {
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.twitter-what-is-happening-text-progress-circle {
    height: 25px;
    width: 25px;
    border: 4px solid rgb(29, 155, 240);
    display: flex;
    border-radius: 100px;
    font-size: 0.5rem;
    margin: 5px 14px;
}

.twitter-what-is-happening-toolbox button:hover {
    cursor: pointer;
    background-color: rgba(6, 84, 143, 0.129);
}

.twitter-what-is-happening-toolbox button:disabled {
    cursor: default;
    background-color: rgba(6, 84, 143, 0.429);
}

.twitter-tweets-view {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 600px;
    max-height: 500px;
}

.twitter-tweet {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 600px;
}

.twitter-tweet:hover {
    /* background-color: rgba(6, 84, 143, 0.129); */
    background-color: rgba(32, 32, 32, 0.182);;
    cursor: pointer;
}

.twitter-tweeter-img {
    padding-right: 3%;
}

.twitter-tweet img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}


.twitter-tweet-author-row {
    display: flex;
    flex-direction: row;
}


.twitter-tweet-author-name {
    font-weight: 600;
    color: white;
    padding: 0px 4px 0px 0px;
}

.twitter-tweet-author-handle {
    font-weight: 400;
    color: darkgray;
    padding: 0px 4px 0px 0px;
}

.twitter-tweet-content-text {
    align-items: right;
    font-weight: 350;
    font-size: 17px;
    margin: 5px 10px 30px 0px;
}

.twitter-tweet-toolbox {
    display: flex;
    align-content: space-evenly;
    max-width: max-content;
}


.twitter-tweet-toolbox svg {
    height: 25px;
    width: 25px;
    padding: 8px;
    margin: 0px 120px 0px 0px;
}

/* .twitter-tweet-toolbox svg:hover {
    background-color: rgba(6, 84, 143, 0.129);
    border-radius: 100px;
    cursor: pointer;
} */

.twitter-tweet-toolbox path {
    fill: rgb(68, 68, 68);
}

.twitter-tweet-toolbox-comment-icon:hover {
    background-color: rgba(61, 61, 68, 0.144);
    border-radius: 100px;
    cursor: pointer;
}

.twitter-tweet-toolbox-retweet-icon:hover {
    background-color: rgba(83, 114, 95, 0.144);
    border-radius: 100px;
    cursor: pointer;
}

.twitter-tweet-toolbox-like-icon:hover {
    background-color: rgba(231, 62, 155, 0.13);
    border-radius: 100px;
    cursor: pointer;
}

.twitter-tweet-toolbox-share-icon:hover {
    background-color: rgba(6, 84, 143, 0.129);
    border-radius: 100px;
    cursor: pointer;
}